extends ../layout

block content
    .Label
        label(for='title') Title:
    .Input
        input(type='text', name='title', id='title')
    .Label
        label(for='content') Content:
    .Input
        input(type='text', name='content', id='content')
    .Button
        input(type='submit', name='submit', value='Create' id='createArticle')
    script(src='/javascripts/article.js')