extends ../layout

block content
    .Home
        a(href="/") Home&nbsp;/&nbsp;
        a(href="/topics/#{article.topicId}") Topic
    .ArticleTitle #{article.title}
    .ArticleContent #{article.content}