extends ../layout

block content
    .Label
        label(for='title') Title:
    .Input
        input(type='text', name='title', id='title' value=(topic && topic._id ? '#{topic.title}' : ''))
    .Label
        label(for='description') Description:
    .Input  
        input(type='text', name='description', id='description' value=(topic && topic._id ? '#{topic.description}' : ''))
    .Button
        input(type='submit', name='submit', value=(topic && topic._id ? 'Update' : 'Create') id=(topic && topic._id ? 'updateTopic' : 'createTopic'))
    script(src='/javascripts/topic.js')