extends ../layout

block content
	- if (topics.length)	
	- each topic in topics
		.topic
			h3
				a(href='/topics/'+topic.id, title=topic.value.Title) #{topic.value.Title}
	- else
		h4 No articles.&nbsp;
	h3
		a(href="/topics/add") create new topic
