extends ../layout

block content
    - if (topics.length)	
    - each topic in topics
        .Topic
            .TopicTitle
                a(href='/topics/'+topic.id, title=topic.value.Title) #{topic.value.Title}
            .TopicDelete
                a(href='/topics/'+topic.id+'/delete') delete
            .TopicEdit
                a(href='/topics/'+topic.id+'/edit') edit
    - else
        .NoTopics
            No articles.&nbsp;
    .Create
        a(href="/topics/add") add
