extends ../layout

block content
    h3= topic.title

    - if (articles.length)
    - each article in articles
        .article
            h3
                a(href='/topics/'+topic._id+'/articles/'+article._id, title=article.value.Title) #{article.value.Title}
                span (#{article.value.TimeStamp})
    - else
        h4 No articles.&nbsp;
    h3
        a(href="/topics/" + topic._id + "/articles/add") create one